<div class="overlay">
</div>
<nav class="navbar navbar-expand-sm navbar-light"></nav>
<button class="navbar-toggler float-sm-right" id="navbarSideButton" type="button">
    <img src="assets/img/basket.png" height="40px" width="40px">
</button>
<ul class="navbar-side" id="navbarSide" ng-if="sbc.mangas.length != 0">
    <li class="navbar-side-item" id="close">
        <img src="assets/img/shoppingcart.png" height="30px" width="30px"> Panier
    </li>
    <li class="navbar-side-item" ng-repeat="manga in sbc.mangas track by $index">
        <a class="side-link">
            <img src="{{manga.img}}" alt="" />
            <label ng-if="manga.name.length > 9">{{manga.name.substring(0, 9)}}</label>
            <label ng-if="manga.name.length <= 9">{{manga.name}}</label> - Tome {{manga.tome}}
            <img src="assets/img/delete.png" alt="Supprimer" id="deleteImg" ng-click="sbc.deleteFromSCart(manga)" />
        </a>
    </li>
    <li class="navbar-side-item" ng-if="sbc.mangas.length" id="close">
        <a ng-href="#!/validate">
            Valider Mes Achats
            <img src="assets/img/validate.png" height="30px" width="30px">
        </a>
    </li>
</ul>
<ul class="navbar-side" id="navbarSide" ng-if="sbc.mangas.length == 0">
    <li class="navbar-side-item" id="close">
        <img src="assets/img/shoppingcart.png" height="30px" width="30px"> Panier
    </li>
    <li class="text-center">
        Votre Panier est vide
    </li>
</ul>
<a class="navbar-brand" ng-href="#!/mangas" style="color:white;border:2px dashed;padding:5px">HOME</a>
</nav>